.promotion {
    height: 50px;
    background-color: $color-secondary;
    font-size: 24px;
    font-weight: 600;
    @media (max-width: 540px) {
      height: 40px;
    }
    @media (max-width: 463px) {
      height: 30px;
    }
    @media (max-width: 385px) {
      height: 15px;
    }
    .promotion__text {
      color: #005f73;
      animation: cambioColor 0.7s;
      animation-iteration-count: infinite;
      @include hover-effect(#ffffff);
      @media (max-width: 926px) {
        font-size: 20px;
      }
      @media (max-width: 771px) {
        font-size: 18px;
      }
      @media (max-width: 694px) {
        font-size: 16px;
      }
      @media (max-width: 617px) {
        font-size: 14px;
      }
      @media (max-width: 540px) {
        font-size: 12px;
      }
      @media (max-width: 463px) {
        font-size: 10px;
      }
      @media (max-width: 385px) {
        font-size: 8px;
      }
    }
}
@keyframes cambioColor {
  0% {
    color: #ffffff;
  }
  50% {
    color: #005f73;
  }
  100% {
    color: #ffffff;
  }
}
@media (max-width: 926px) {
  .promotion__text {
    font-size: 20px;
  }
}
.sale {
    background-image: url(../assets/images/anthony-calandrelli-s9al8aIiVNU-unsplash.jpg);
    height: 75vh;
    .sale__title, .sale__btn {
      color: #005f73;
      border-color: #005f73;
      --bs-btn-active-bg: #005f73;
      --bs-btn-active-border-color: #005f73;
      margin-left: $spacing-left;
  
      @include hover-effect(#ffffff, null);
      h1 {
        color: #005f73;
        font-weight: 900;
        font-size: 100px;
      }
  
      h2 {
        color: #005f73;
        font-size: 40px;
      }
    }
    .sale__btn:hover {
      background-color: #005f73;
      border-color: #005f73;
    }
}
.introduction {
    margin-top: 130px;
    gap: 35px;
    .introduction__title {
      font-size: 70px;
      font-weight: 800;
      color: $color-primary;
    }
    .introduction__text {
      font-size: 24px;
      color: $color-secondary;
    }
}
.margintitle, .products__title {
    font-size: 70px;
    font-weight: 800;
    margin-top: $spacing-left;
    color: $color-primary;
}